## Disallow all
*

## Allow
!/assets
!/assets/*
!must_use_loader.php
!readme.md
!LICENSE
!CHANGELOG.md

## Allow also .git-configurations
!.gitignore
!.gitattributes

## Allow codeclimate configuration
!.codeclimate.yml

!composer.json
